@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');
*{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth ;
}
body{
   direction: rtl;
   background-color: bisque;
   margin: 0px;
   padding: 0px;
   width: 100%;
   background-size: cover;

}
 header{
     background-color: #ffffff;
     opacity: 1;
     width: 100%;
     position: fixed;
     z-index: 999;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
     border-radius:  0 0 30px 30px;
 }
 .name{
     text-decoration: none;
     color: #052ce0;
     font-size: 30px ;
     font-weight: 900;
     text-transform: uppercase;
 }
 .navigation a{
     color: #052ce0;
     margin-right: 30px;
     text-decoration: none;
     font-weight: bold;
     font-size: large;
 }
 .navigation a:hover{
     color: rgb(0, 0, 0);
     transition: 500ms ease ;
 }
 .mainimg{
    position: absolute;
    right: 900px;
    padding-top: 100px;
    margin-bottom: 100px;     
}
.mainh1{
    padding-right: 45px;
    font-size: 30px;
    padding-top: 160px;
    margin-bottom: 100px;
}
.main2h1{
    text-align: center;
    font-size: 100px;
    color: #052ce0;
    margin-top: 120PX;
}
.main2gif {
    margin-right: 400px;
    width: 500px;
    border-radius: 30px;
}
.hr1{
    border: 5px solid #052ce0;
    border-radius: 30px;
    margin-top: 40px;
}
.newsicons{
    text-align: center;
}
.newsicon div{
    margin: 30px 50px 0 0;
    text-decoration: none;
    display: inline-block;
}
.newsicon a{
    text-decoration: none;
    color: rgb(20, 14, 14);
    font-size: larger;
    font-weight: 700;
}
.newsicons :hover{
    color: #052ce0;
    transition: 500ms ease ;
}
.newp1{
    text-align: center;
    font-size: 50px;
    color: #052ce0;
    margin-top: 40px;
}
.newh1{
    font-size: 13px;
}
.cont1{
    display: flex;
    align-items: center;
    margin-top: 60px;
}
footer{
    background-color: #ffffff;
     opacity: 1;
     width: 100%;
     text-align: center;
     padding: 10px 20px;
     border-radius:  30px 30px  0 0;
}
.txtfooter{
    font-size: x-large;
    font-weight: 500;
}
.news{
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 40px;
}