body{background-color:#790f0f;
    Margin: 0px;
    Padding: 0px;
    Width: 100%;
    font-family: 'Poppins', sans-serif;
} 
 header{
    background-color:#790f0f;
    display: flex;
    width: 98%;
    direction: rtl;
    border-radius: 0 0 40px 40px;
    padding: 16px;
    margin-top:  10px; 
    position: fixed;
    align-items: center;
    opacity: 0.8;
}

label{
    position: absolute;
    width: 45px;
    height: 22px;
    border: 2px solid;
    right: 20px;
    top: 20px;
    border-radius: 50px;
    color: white;
}
label:before{
    position: absolute;
    width: 20px;
    content: "";
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background:white ;
    transition: 0.4s;
    left: 1px;
    top: 1px;
}
label.active:before{
    left: 24px;
    background: black;
}
body.night .main{
    background-color: black;
}
body.night p{ 
    color: white;
    opacity: 1;
}
body.night header a{
    color: black;
    opacity: 1;
}
body.night header{
    background-color: white;
    opacity: 1;
}
body.night label{ 
    color: black;
    opacity: 1;
}
body.night .card{
    background-color: white;
    opacity: 1;
}
body.night .ca{
background-color: white ;
opacity: 1;
}
body.night hr{
background-color: white;
opacity: 1;
}
body.night .in h3 a:hover{
    color: blueviolet;
}
body.night footer{
    background-color: white;
    opacity: 1;
}
body.night footer p{
    color: black;
    opacity: 1;
}
body.night .in h3 a{
    color: black;
    opacity: 1;
}
body.night .info h3 a{
    color: black;
    opacity: 1;

}
body.night .info p{
    color: black;
    opacity: 1;

}
body.night .more{
    color: red;
    
}
body.night .main2{
    background-color:rgb(20, 20, 20) ;
}

.search{
    background-color:rgb(255, 255, 255);
    margin-right: 70px;
    height: 28px;
    border-radius: 30px;
}
header a{
    color: white;
    font-size: 28px; 
    text-decoration: none;
    font-weight: 700;
    padding-right: 30px;
}
hr{
    width: 90%;
    background:#790f0f;
    border-radius: 40px;
    height: 10px;
    opacity: 0.8;
    margin-top:50px ;
}
.lnk a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding-right: 30px ;   
}
.lnk a:hover{
    color: blueviolet;
}
.head1{
    background-image: url("../images/background.jpg");
    background-position: center;
    border-radius: 0 0 50px 50px;
    background-attachment: fixed;
    background-size: cover;
    padding: 200px;
    margin-top: -10px;    
    color: white;
    direction: rtl;
    padding-right: 150px;
    margin-bottom:200px;
    font-size: 100px;
    font-weight: 700;
}
.sec1{
    direction: rtl;
    margin: -100px 50px 0 0;
    font-weight: 700;
}
.img{
    margin: 20px 225px 0 0;
    width: 60%;
}
.sec1 h2{
    color:rgb(150, 15, 15);
    font-size: 40px;   
}
.sec1 p{
    font-size: 28px;
    padding: 100px 150px;
}
.main{background-color: white;
    box-shadow: 0 5px 20px rgba(1, 1, 1, 50%);
    border-radius: 50px ;
    padding: 150px 30px;
    margin: -200px 15px -50px ;
}
.main2{background-color: rgb(50, 50, 50);
    box-shadow: 0 5px 20px rgba(1, 1, 1, 50%);
    border-radius: 50px ;
    padding: 30px 0px;
    margin: 50px 15px -30px ;   
}
.more{
    font-size: 2.2em;
    direction: rtl;
    padding-right: 150px;
    opacity: 0.8;
    margin: 70px 32% 40px;
}
.ca{
    background-color: rgb(0, 0, 0);
    opacity: 0.85;
    width: 21.25em;
    height: 21.25em;
    box-shadow: 0 5px 20px rgba(1, 1, 1, 30%);
    border-radius: 20px;
    padding: 30px;
    margin: 15px;
    transition: 0.8s ease;
    text-shadow: #790f0f;
 }
.ca:hover{
    transform: scale(1.1);
 }
 
 span{
    margin-left: 50px;
}
 .in h3 a{
    padding: 0;
    margin-left: 10px;
    font-size: 28px;
    color: antiquewhite;
    font-weight: 700;
}
.in h3 a:hover{
    color: blueviolet;
}

.im{
    margin-top: -30px;
    margin-left: -30px;
    margin-bottom:10px;
    width: 25em;
    border-radius: 20px 20px 0px 0px;
    height: 18.25em;
 }
.title{
    margin: 10px;
    display: flex;
    justify-content: center;
    color:#790f0f;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 20px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
}
.card{
    background-color: rgb(13, 9, 9);
    width: 19.25em;
    color: antiquewhite;
    box-shadow: 0 5px 20px rgba(1, 1, 1, 30%);
    border-radius: 18px 15px;
    padding: 30px;
    margin: 15px;
    transition: 0.8s ease;
    opacity: 0.9;
    text-shadow: #790f0f;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
   color:goldenrod;
    font-size: 8em;
    text-align: center;
}
.info h3{
    color:antiquewhite;
    padding-right: 0;
    font-size: 1.4em;
    text-align: center;
    font-weight: 500;
    margin: 10px;
}
.info p{
    font-size: 20px;
    padding-left: 10px; 
}
.info h3 a:hover{
    color:blueviolet;
    opacity: 0.8;
}
h3 a{
    text-decoration: none;
    color: antiquewhite;
}
.fas {
    font-weight: 700;
}
footer{
    color: white;
    background-color:rgb(13, 9, 9) ;
    display: flex;
    padding: 15px;
    border-radius: 65px 65px 0 0;
    margin-top: 30px;
    opacity: 0.8;
 }  
.foot{
    padding-left: 44%;
}
.foot2{
    margin: 0;
    padding: 0;
    font-size: 24px;
}
